@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Solway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script|Solway&display=swap);

$primaryFont: 'Calistoga', cursive;
$secondaryFont: 'Dancing Script', cursive;
$colorBase: #73adf8;
$colorImportant: #0e57f7;
$colorWarning: #052a79;
$borderRadius: 5px;
$shadowBox: -10px 10px 5px 0px rgba(0,0,0,0.75);