@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Solway&display=swap);

$primaryFont: 'Bebas Neue', cursive;
$secondaryFont: 'Solway', serif;
$colorBase: #f87573;
$colorImportant: #ed3330;
$colorWarning: #880806;
$borderRadius: 5px;
$shadowBox: 10px 10px 5px 0px rgba(0,0,0,0.75);
